.container{
  margin-top: 30px;
  align-self: center;
  
}

.error-message {
  border-style: solid;
  border-color: red;
  border-width: 4px;
  margin-top: 1em;
  padding: 0.5em 0;
  color: red;
  text-align: center;
  display: none;
}
.new-tweet {
  display: none;
  margin-bottom: 2em;
}

form {
  display: flex;
  flex-direction: column;
}

#tweet-form > label {
  font-size: 28px;
  font-weight: bold;
}

#tweet-text {
  background-color: #f4f1ec;
  border-width: 0 0 4px 0;
  margin-bottom: 0.7em;
  height: 2rem;
  resize: none;
  outline: none;
  font-size: 28px;
  font-weight: bold;
}

#button-and-counter {
  display:flex;
  justify-content: space-between;
}

button {
  font-family: 'bungee', sans-serif;
  font-size: 26px;
  background-color: #4056A1;
  color: white;
  padding: 0.2em 0.5em;
}

output {
  font-family: 'Bungee', sans-serif;
  font-size: 30px;
}

.fontRed{
  color: red;
}

article {
  display: flex;
  flex-direction: column;
  align-items: streth;
  margin-top: 3em;
  border-style: solid;
  border-width: 4px;
  margin: 0 0 2em;

}

article > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 1em 0.5em 0.5em;
}

article > header > div {
  display: flex;
  align-items: center;
}

article > p {
  overflow-wrap: break-word;
  align-self: center;
  width: 95%;
  height: auto;
  padding: 0 1em 1.2em;
  border-style: solid;
  border-width: 0 0 4px 0;
  margin-bottom: 0;
}

article > img {
  margin-right: 0.5em;
}

article > footer {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0.4em 0 1em;
}

.tweet-age {
  font-size: smaller;
}

.engagement {
  display: flex;
  justify-content: space-between;
  width: 75px;
  visibility: hidden;
}

.flag {
  background-image: url("../images/flag-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 0.7em;
  height: 0.7em;
}

.retweet {
  background-image: url("../images/retweet-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 0.7em;
  height: 0.7em;
}

.like {
  background-image: url("../images/heart-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 0.7em;
  height: 0.7em;
}

.tweet-containers:hover{
  box-shadow: 10px 6px 2px 0px #ccc;
  font-weight: bold;
}

.handle {
  visibility: hidden;
}

.tweet-containers:hover .handle {
  visibility: visible;
  font-weight: normal;
}

.tweet-containers:hover .engagement {
  visibility: visible;
}